#titulo{
    color: black;
}
.cuadro {
  height: 200px;
  opacity: 0.5;
  transition: opacity 500ms;
}

#cuadro-1 {
  background-color: #ff6b6b;
}

#cuadro-2 {
  background-color: #4d96ff;
}

#cuadro-3 {
  background-color: #ffd93d;
}

#cuadro-4 {
  background-color: #6bcb77;
}
