body{
  background: #EAF6F6;
  text-align: center;
}

#titulo{
    color: black;
    font-family: 'Press Start 2P', cursive;
}

.botones{
  width: 200px;
  height: 200px;
}

button.active{
  box-shadow: 0px 0px 20px purple;

}

#rojo{
  background: #FF6B6B;
}
#verde{
  background:  #6BCB77;
}
#amarillo{
  background:  #FFD93D;
}
#azul{
  background: #4D96FF;
}